# compile products
**/*.o 
**/*.d

# executable
**/obj/test_merged_filters
**/obj/test_gcd

# data
datasets/google-cluster-data/categories.txt
datasets/google-cluster-data/cpu-utilisation.txt
datasets/google-cluster-data/event-types.txt
datasets/google-cluster-data/norm-event-types.txt
datasets/google-cluster-data/priorities.txt

#vs code files
.DS_Store
.vscode

# local tmp files
second_stage/scripts.c

# generated code
reduce_*.cl
select_*.cl